.heading{
    display: flex;
    justify-content:center ;
    margin: 1rem 0;
}

.filterContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap:0.25rem;
}

.paginationContainer{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.homeWrapper{
    margin: 0 1rem;
}
@media screen and (min-width: 1200px) {
  
    .filterContainer{
        flex-wrap: wrap;      
    }
    .paginationContainer{
        margin-top: 0.75rem;
    }
    
  }
  