.wareHouseDetailContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.wareHouseDetail {
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailHeading {
    font-weight: bolder;
    text-transform: capitalize;
}

input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
}