:root{
    --blue-color: #1976d2;
    --hover-blue-color: #0d5fb2;
    --white-color: #fff;
    --green-color:  rgb(31, 165, 31);
    --hover-green-color:  rgb(9, 133, 9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  position: relative;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

